* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Poppins';
}

:root {
    --roxo:  #1E21C9;
    --white: #fff;
    --cinza: #E9E9F4;
}

input, select {
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 4px;
    border: none;
}

input:focus, select:focus {
    outline: none;
}

label {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

#header {
    background-color: var(--roxo);
    height: 400px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#title {
    font-size: 24px;
    color: var(--white);
    font-weight: 600;
    letter-spacing: 3px;
}

#title-form {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
}

#container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: -280px;
    padding-left: 5%;
    padding-bottom: 100px;
}

#section {
    background: linear-gradient(180deg,  var(--white) 0%, var(--cinza) 100%);
    padding: 100px 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: -1px 5px 16px -4px rgba(0,0,0,0.62);
    -webkit-box-shadow: -1px 5px 16px -4px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px 5px 16px -4px rgba(0,0,0,0.62);
}

button {
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--roxo);
    color: var(--white);
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
    padding: 0 30px;
}

.show {
    display: flex!important;
}

.disable {
    display: none!important;
}

#loading {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#text-loading {
    margin-top: 30px;
}


#result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    margin-top: 80px;
}

/*
    Loading
*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 10px solid var(--roxo);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--roxo) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }